<mat-card>
  <mat-card-header>
    <mat-card-title>Filters</mat-card-title>
  </mat-card-header>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Choose a summoning spell" (change)="spellChanged($event)" [(value)]="selectedSpell">
            <mat-option>None</mat-option>
            <mat-option value="conjure_animals">Conjure Animals</mat-option>
            <mat-option value="conjure_forest_friends">Conjure Forest Friends</mat-option>
            <mat-option value="conjure_elemental">Conjure Elemental</mat-option>
            <mat-option value="conjure_fey">Conjure Fey</mat-option>
            <mat-option value="conjure_minor_elementals">Conjure Minor Elementals</mat-option>
            <mat-option value="conjure_woodland_beings">Conjure Woodland Beings</mat-option>
            <mat-option value="conjure_celestial">Conjure Celestial</mat-option>
            <mat-option value="find_steed">Find Steed</mat-option>
            <mat-option value="planar_ally">Planar Ally</mat-option>
            <mat-option value="animate_dead">Animate Dead</mat-option>
            <mat-option value="find_familiar" disabled>Find Familiar</mat-option>
            <mat-option value="find_greater_steed" disabled>Find Greater Steed</mat-option>
            <mat-option value="infernal_calling" disabled>Infernal Calling</mat-option>
            <mat-option value="summon_lesser_demons" disabled>Summon Lesser Demons</mat-option>
            <mat-option value="summon_greater_demon" disabled>Summon Greater Demons</mat-option>
      </mat-select>
    </mat-form-field>
<!--
    <mat-radio-group class="example-radio-group">
      <mat-radio-button class="example-radio-button"  [value]="3">
        3rd Level
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  [value]="5">
        5th Level
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  [value]="7">
        7th Level
      </mat-radio-button>
    </mat-radio-group>
-->
    <mat-form-field class="example-full-width">
      <mat-select [(value)]="minCrSelect" placeholder="Min challenge rating" (change)="minCRChanged($event)" >
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cr of crs" [value]="cr[0]">{{cr[1]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select [(value)]="maxCrSelect"  placeholder="Max challenge rating" (change)="maxCRChanged($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cr of crs" [value]="cr[0]">{{cr[1]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <app-spells></app-spells> -->
  </form>
</mat-card>
