
<mat-card>
  <mat-card-content>

<mat-tab-group class="demo-tab-group">

  <mat-tab label="Grimoire">
    <app-filters></app-filters>
    <creatures  ></creatures>
  </mat-tab>
  <mat-tab label="Active Summons">
    <active-creatures></active-creatures>
  </mat-tab>
</mat-tab-group>
</mat-card-content>
</mat-card>
<!---
<mat-grid-list cols="2" rowHeight=80>
  <mat-grid-tile>
    <list-of-cards></list-of-cards>
  </mat-grid-tile>
  <mat-grid-tile>
    <another-list-of-cards></another-list-of-cards>
  </mat-grid-tile>
</mat-grid-list>
-->
